@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');


.sidebar {
  position: fixed;
  top: 350px;
  left: -200px;
  width: 200px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  z-index: 3;

}

.sidebar.open {
  left: 0;
}

.sidebar button {
  display: flex;
  margin: 20px;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  font-family: 'Schoolbell', cursive;
  text-align: center;

  /* border-bottom: 1px solid #ccc; */
}

.sidebar li:last-child {
  border-bottom: none;
}

.completionCircle {
  width: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.closeSidebarImg {
  width: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.create-new-box {
  display: flex;
  flex-direction: column;
  font-family: 'Creepster', cursive;
  font-size: 23px;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: lighter;
  cursor: pointer;
}

.addNew {
  width: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-family: 'Schoolbell', cursive;
}

.close-sidebar {
  display: flex;
  flex-direction: column;
  font-family: 'Creepster', cursive;
  font-size: 23px;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: lighter;
  cursor: pointer;
}

.create-new-box:hover .overlay {
  opacity: 1;
}

.text {
  color: #963484;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {

  position: relative;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 50%;
  opacity: 0;
  transition: .3s ease;
  background-color: red;
}

.addNew:hover .overlay {
  opacity: 1;
}


button {
  background-color: #A6CFD5;
  border: solid #D2BF55;
  box-sizing: border-box;
  color: #963484;
  display: flex;
  font-family: 'Schoolbell', cursive;
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.button:focus {
  outline: 0;
}

.button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button:hover:after {
  bottom: 2px;
  left: 2px;
}

/* .button:disabled {
  color: gray;
} */

@media (min-width: 768px) {
  .button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}