@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Schoolbell', cursive; */
}

#desktop-container {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* border: 1px black solid; */
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;

}

#drawing-container {
  display: flex;
  width: 70vw;
  height: 70vh;
}

.workspace {
  margin: 40px;
  padding: 20px;
  background: #EEE;
}

.promptHeader {
  font-family: 'Schoolbell', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.drawPrompt {
  font-family: 'Schoolbell', cursive;
  color: #4b4237;
  /* border: 1px solid #963484; */
  width: 70vw;
  height: fit-content;
  padding: 25px;
  margin: 0px 0 10px 0;
  border: 2px solid #963484;
  margin: 0;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background: transparent;
}



.drawPrompt:hover {
box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

.drawPrompt:lined.thick {
border: solid 9px #41403E;
}
.turnCounter {
  font-size: 2em;
  background-image: linear-gradient(180deg, #963484, #4b4237);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.instructions {
  font-family: 'Schoolbell', cursive;
  font-weight: bold;
  margin: 10px;
  font-size: x-large;
  padding-top: 25px;

}

.submit-button {
  margin: 2px 0px 15px 40px;
  padding: 5px 10px;
  display: inline;
}

#writePrompt {
  height: 400px;
  width: 400px;
  border: 1px blue solid;
}

textarea {
  min-height: 100px;
  width: 50vw;
  margin: 20px;
  font-family: 'Schoolbell', sans-serif;
  font-size: xx-large;
}

.canvas-buttons {
  display: flex;
  justify-content: flex-end;
}

#download_image_link {
  align-content: flex-end;
  font-size: xx-large;
  color: #d2bf55
}

.story-button {
  color: #d2bf55;
  font-family: 'Schoolbell', cursive;
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: #A6CFD5
    /*.25em solid var(--glow-color)*/
  ;
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.story-button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.story-button:hover {
  color: #963484;
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

.story-button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}

.palette-tools {
  display: flex;
  flex-direction: row-reverse;
  justify-content: last baseline;
  font-size: xx-large;
  word-spacing: 20px;
  align-content: space-between;
  color: #963484
}