@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
  background: #EEE;
}

#main-container {
  position: relative;
  max-height: 100vh;
  max-width: 100vw;
  
}

.thumbnail {
  position: absolute;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  margin: 0 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #4B4237;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  /* grid-template-rows: auto(1 fr); */
  /* flex-wrap: wrap; */
  position: relative;
  justify-content: center;
  align-content: center;
  height: 50%;
}

.storybook {
  position: absolute;
  grid-row: 1;
  grid-column: 3;
  box-sizing: border-box;
  background: #EEE;
  /* border: solid #D2BF55 2px; */
  border-radius: 10px;
  height: 850px;
  width: 890px;
  padding: 50px;
  z-index: 1;
  filter: brightness(150%);
  transform: translateY(-20%);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.4);
}

.frame {
  display: flex;
  height: 750px;
  width: 750px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-family: 'Schoolbell', sans-serif;
  /* background: #8C8;
  border: 2px solid red; */
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}

.flickity-prev-next-button .arrow {
  fill: black;
}

.flickity-prev-next-button.no-svg {
  color: black;
}

.flickity-prev-next-button:hover {
  background: transparent;
}

/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

.welcome-box-title{
  background-image: linear-gradient(180deg,  #d2bf55, #963484);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  padding-top: 25px;
}

#welcome-box {
  display: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
  z-index: 3;
  margin-right: 50px;
  margin-left: 225px;
  margin-bottom: 400px;
  margin-top: 100px;
  font-family: 'Creepster', cursive;
  border: 2px solid #000;
box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
background: transparent;
}
.canvas-container:hover {
box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

.canvas-container:lined.thick {
border: solid 9px #41403E;
}






ol {
  margin: 50px 50px 0 50px;
  text-align: center;
  list-style: none;
}

li {
  font-family: 'Schoolbell', sans-serif;
  text-align: left;
  font-size: .75em;
  margin-bottom: 1em;
}

#curtain {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 90vh;
  /* border: 1px purple solid; */
  overflow: hidden;
  background: #EEE;
}

.gallery-page {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.alive {
  font-family: 'Creepster', sans-serif;
  color: #963484;
  font-size: 3em;
  text-shadow: 5px 5px 10px #A6CFD5;
  background-color: #D2BF55;
  animation-name: itsalive;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes itsalive {
  from {
    font-size: 0;
  }

  to {
    font-size: 4em;
  }
}

#curtain-L {
  display: flex;
  /* position: relative; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  background: #EEE;
}


/* @keyframes slideleft {
  to {
    transform: translateX(-110%);
  }
} */

#curtain-R {
  display: flex;
  /* position: relative; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  background: #EEE;
}

.slideleft {
  transform: translateX(-110%);
  transition: 3s;
  /* animation-name: slideleft;
  animation-duration: 3s; */
}

.sideright {
  transform: translateX(110%);
  transition: 3s;
}

.slideup {
  transform: translateY(-150%);
  transition: 3s;
  /* animation-name: slideleft;
  animation-duration: 3s; */
}

/* #curtain-R:hover {
  transform: translateX(100%);
} */

#splash-logo-L {
  position: relative;
  width: 80%;
  height: 80%;
  /* border: 4px green solid; */
  margin: auto;
  transform: translate(62.5%, -15%)
}

#splash-logo-R {
  position: relative;
  width: 80%;
  height: 80%;
  /* border: 4px green solid; */
  transform: translate(-62.5%, -15%);
  /* offset-position: 0 50%; */
  margin: auto;
}